login-toolbar{
  display: flex;
  background-color: rgba(15, 198, 79, 0.711);
}

.mat-card {
  justify-content: center;
  margin: auto 21%;
}
.submit {
  width: flex-end;
}
.mat-hint {
  width: fit-content;
  height: 30px;
}
.mat-field {
  display: flex-end;
  flex-direction: column;
}

.submit {
  display: flex;
  justify-content: center;
}