<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="Accent">REGISTER</mat-toolbar>
    <div style="    padding-top: 16px;">
      <mat-card >
        <form >
          <div class="mat-field">
            <div>
              <mat-form-field  [style.width.%]="100" style="width: 100%">
                <mat-icon matPrefix>email</mat-icon>
                <input autofocus type="email" matInput placeholder="Email *">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field [style.width.%]="100" style="width: 100%">
                <mat-icon matPrefix>person_outline</mat-icon>
                <input autofocus type="text" matInput placeholder="Username *">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field [style.width.%]="100" style="width: 100%">
                <mat-icon matPrefix>lock_outline</mat-icon>
                <input type="password" autocomplete="false" matInput placeholder="Password *">
                <!-- <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="submit">
            <div class="socialMediaFlex">
              <button  type="submit" mat-raised-button color="primary">Submit</button>
            </div>
          </div>
         </form>
      </mat-card>
    </div>
  </div>
</div>