table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

::ng-deep .tooltip-red {
    background: #b71c1c;
    white-space: pre-line;
    position: relative;
}