<mat-card>
    <mat-card-content class="data-list">
        <h2 class="data-list__heading">Indata</h2>

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span #tooltip="matTooltip" matTooltipPosition="left" matTooltip="{{getMoreInformations(row)}}" matTooltipClass="tooltip-red">{{row.name}}</span> </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> address </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span #tooltip="matTooltip" matTooltipPosition="left" matTooltip="{{getMoreInformations(row)}}" matTooltipClass="tooltip-red"> {{row.address}}</span> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </mat-card-content>
</mat-card>