mat-sidenav-container.m2app-dark {
    background: rgb(27, 8, 170);

}

.app-menu-button {
    padding: 0;
    min-width: 50px;
}
.appbutton{
    width: 15%;
}
.login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}
// .progress-background
// {
//     width: 100%;
//     background: gray;
//     height: 5px;
//     border-radius: 5px;
    
// }
