<!-- <mat-sidenav-container [class.m2app-dark]="isDarkTheme">
    <mat-toolbar color="primary">
        <button mat-button class="app-menu-button">
            <i class="material-icons">menu</i>
        </button>
        <span  [routerLink]="['/home']" class="title">Touch Note</span>
        <div class="matbutton">
          <button [routerLink]="['/login']"  mat-button> Login </button>
        <button [routerLink]="['/register']" mat-button> Register</button>
    </div>
    </mat-toolbar>
</mat-sidenav-container> -->
<!-- 
<nav style="display: flex;height: 40px;">
    <div style="width: 15%; background-color: red;"></div>
    <div style="width: 70%;background-color:blue"></div>
    <div  style="width: 15% ;  background-color: green;"></div>
 </nav> -->
<nav>
    <mat-toolbar color="primary" class="login">
        <div class="appbutton">
            <button mat-button color="app-menu-button">
                <mat-icon>menu</mat-icon>
            </button>
            <span [routerLink]="['/home']">Home</span>
        </div>
        <div class="login"></div>
        <button [routerLink]="['/register']" mat-button>Register</button>
        <button [routerLink]="['/login']" mat-button>Login</button>
        <button [routerLink]="['/profile']" mat-button>Profile</button>
    </mat-toolbar>
    <router-outlet></router-outlet>