<mat-toolbar color="accent">
  <span class="fill-remaining-space">Enter Login Details</span>
</mat-toolbar>
<div class="container">
  <form class="form">
    <mat-form-field class="form-element">
      <input matInput placeholder="UserName" >
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput placeholder="Password">
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button">Submit</button>
    </div>
   
  </form>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>My Pet</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p><b class="content">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </b>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<div>
  <span>
  <button mat-button (click)="openDialog()">Click Me</button>
</span>
</div>


  