.fill-remaining-space {
  
width: 100%;
}

.container {
  padding: 5px;
}

.form {
  min-width: 50px;
  max-width: 200px;
  width: 50%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  
}
.mat-card-image {
  width: calc(25% + 32px);
  margin: 0 -16px 16px -16px;
}
.mat-card-subtitle, .mat-card-content {
  width: 25%;
  font-size: 14px;
}

