<nav>
    <div>
    <img src="../../../assets/IMG_20220213_145236.jpg">
    <img src="../../../assets/WhatsApp Image 2022-07-28 at 6.46.31 PM (1).jpeg">
    <img src="../../../assets/IMG_20211031_094350.jpg">
    <Img src="..//../../assets/IMG_20211107_103550.jpg">
    <img src="../../../assets/WhatsApp Image 2022-07-28 at 6.46.33 PM.jpeg">
    <img src="../../../assets/IMG_20210620_110240.jpg">
    <img src="../../../assets/IMG_20220120_100243.jpg">
    <img src="../../../assets/WhatsApp Image 2022-07-28 at 6.46.31 PM (2).jpeg">
    <img src="../../../assets/WhatsApp Image 2022-07-28 at 6.46.32 PM (1).jpeg">
    <img src="../../../assets/WhatsApp Image 2022-07-28 at 6.46.32 PM.jpeg">
    <img src="../../../assets/IMG_20220213_144120.jpg">
    <img src="../../../assets/IMG_20220213_145236.jpg">
    <img src="../../../assets/IMG-20211202-WA0007.jpg">
    <img src="../../../assets/IMG_20220120_100400.jpg">
    <img src="../../../assets/IMG_20220120_100339.jpg">
</div>
</nav>
<div class="row">
    <div class="col-md-5">
      <input
        #image
        type="file"
        multiple
        name="image"
        [(ngModel)]="model.image"
        (change)="fileChange($event)"
      />
    </div>
    <div class="col-md-4">
      <img
        src="{{image1}}"
        style="width: 225px;height: 252px; border: 5px solid transparent;border-color:#ccc8c5"
      />
    </div>
  </div>
